@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

$primary-color: #52796f;
$primary-accent: #cad2c5;
$primary-text: #f7fffb;

$secondary-color: #2f3e46;
$secondary-accent: #84a98c;
$secondary-text: #f0efeb;

$title: 3rem;
$sub-title: 2rem;
