.hero-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-bottom: 2rem;

  &-title {
    font-size: $title;
    color: $primary-text;
  }
  &-sub-title {
    font-size: $sub-title;
    color: $primary-text;
  }
  &-text {
    font-size: $large-text;
    color: $primary-text;
  }
}
